body{
	background-image: url("img/Bem-Vindo(a).png");
	font-family: sans-serif;
}

div.anside{
	height: 60px;
	width: 440px;
	margin-left: 95px;
	margin-top: 35px;
	position: fixed;
}
div.anside h1{
	color: whitesmoke;
	font-size: 50px;
	text-align: center;
} 

.formAula1{
	margin-top: 80px;
}
legend{
	font-size: 43px;
}
div.formAula1{
	background-color: rgba(255,255,255,0.2);
	border-radius: 20px;
	margin-left: 55%;
	padding: 20px;
	width: 380px; 
	height: 490px;
} 
form legend{
	color: whitesmoke;
	text-align: center;
	margin-top: 25px;
	font-size: 35px;
}
.nomeUsuario{
	background-color: rgba(000,000,000,0);
	color: whitesmoke;
	border: none;
	text-align: center;
	border-bottom: 2px solid rgb(12, 12, 12);
	margin: 70px 20px 40px 33px;
	font-size: 18px;
	padding: 10px 50px;
	outline:none
}
.Senha{
	background-color: rgba(000,000,000,0);
	color: whitesmoke;
	border: none;
	text-align: center;
	border-bottom: 2px solid rgb(12, 12, 12);
	margin: 50px 20px 0px 33px;
	font-size: 18px;
	padding: 10px 50px;
	outline:none
}
input::placeholder {
  color: #CCCCCC;
}

div button{
	background-color: black;
	color: whitesmoke;
	font-size: 17px;
	border-radius: 12px;
	border: none;
	padding: 10px 25px;
	margin-top: 90px;
	margin-left: 150px;
}
div button:hover {
	background-color: #0803F0;
}